<div>
  <div class="heading">
    <span class="pagetitle"> {{title}} </span>
  <div *ngIf="requestline">
    </div>
    <table class="table table-sm">
      <tr>
        <td>Product</td>
        <td>
          <select [(ngModel)]="rl.productId">
            <option *ngFor="let product of products" 
                    [ngValue]="product.id">{{ product.name }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td><input [(ngModel)]="rl.quantity" class="inputstring" type="number"></td>
      </tr>
      <tr>
        <button (click)="create()" class="btn btn-primary">Create</button>
      </tr>
    </table>
    </div>
</div>